-- Read-only diagnostics: tables, columns, RLS, policies, indexes.
-- Run in Supabase SQL Editor. Does not delete or update data.

-- 1) Tables in public (RLS, owner, approx row count)
SELECT
  n.nspname AS schema_name,
  c.relname AS table_name,
  c.relrowsecurity AS rls_enabled,
  pg_catalog.pg_get_userbyid(c.relowner) AS owner,
  pg_stat_get_live_tuples(c.oid) AS approx_live_rows,
  pg_total_relation_size(c.oid) AS total_bytes
FROM pg_class c
JOIN pg_namespace n ON n.oid = c.relnamespace
WHERE n.nspname = 'public'
  AND c.relkind = 'r'
ORDER BY c.relname;

-- 2) Columns for main tables
SELECT
  table_name,
  ordinal_position,
  column_name,
  data_type,
  is_nullable,
  column_default
FROM information_schema.columns
WHERE table_schema = 'public'
  AND table_name IN (
    'omr_results',
    'students',
    'omr_exams',
    'retake_requests',
    'settings'
  )
ORDER BY table_name, ordinal_position;

-- 3) RLS policies
SELECT
  schemaname,
  tablename,
  policyname,
  permissive,
  roles,
  cmd,
  qual AS using_expression,
  with_check AS with_check_expression
FROM pg_policies
WHERE schemaname = 'public'
ORDER BY tablename, policyname;

-- 4) Indexes on public
SELECT
  tablename,
  indexname,
  indexdef
FROM pg_indexes
WHERE schemaname = 'public'
ORDER BY tablename, indexname;

-- 5) Portal-related functions
SELECT
  p.proname AS function_name,
  pg_get_function_identity_arguments(p.oid) AS args,
  l.lanname AS language
FROM pg_proc p
JOIN pg_namespace n ON n.oid = p.pronamespace
JOIN pg_language l ON l.oid = p.prolang
WHERE n.nspname = 'public'
  AND p.proname LIKE 'portal\_%' ESCAPE '\'
ORDER BY p.proname;
