-- DEPRECATED duplicate: use ONLY `portal.sql` (includes portal_national_norm columns + RPC id::text fix).
-- Keeping this file risks overwriting a fixed function with an older variant.
-- Student portal: read-only speedup.

CREATE OR REPLACE FUNCTION public.portal_norm_key(input text)
RETURNS text
LANGUAGE sql
IMMUTABLE
PARALLEL SAFE
AS $f$
  SELECT NULLIF(
    regexp_replace(
      regexp_replace(trim(COALESCE(input, '')), '[^0-9A-Za-z]', '', 'g'),
      '^0+',
      ''
    ),
    ''
  );
$f$;

CREATE OR REPLACE FUNCTION public.portal_omr_row_visible(d jsonb)
RETURNS boolean
LANGUAGE sql
IMMUTABLE
PARALLEL SAFE
AS $v$
  SELECT
    lower(trim(COALESCE(d ->> 'approved', ''))) IN ('true', '1', 't', 'yes')
    OR lower(trim(COALESCE(d ->> 'confirmed', ''))) IN ('true', '1', 't', 'yes')
    OR (length(trim(COALESCE(d ->> 'approvedAt', ''))) > 0)
    OR (
      length(trim(COALESCE(d ->> 'studentId', ''))) > 0
      AND (d ? 'score')
    );
$v$;

CREATE INDEX IF NOT EXISTS idx_omr_portal_nationalid
  ON public.omr_results (public.portal_norm_key((data ->> 'nationalId')))
  WHERE public.portal_norm_key((data ->> 'nationalId')) IS NOT NULL;

CREATE INDEX IF NOT EXISTS idx_omr_portal_national_id_snake
  ON public.omr_results (public.portal_norm_key((data ->> 'national_id')))
  WHERE public.portal_norm_key((data ->> 'national_id')) IS NOT NULL;

CREATE INDEX IF NOT EXISTS idx_omr_portal_studentid
  ON public.omr_results (public.portal_norm_key((data ->> 'studentId')))
  WHERE public.portal_norm_key((data ->> 'studentId')) IS NOT NULL;

CREATE INDEX IF NOT EXISTS idx_omr_portal_detected
  ON public.omr_results (public.portal_norm_key((data ->> 'detectedStudentId')))
  WHERE public.portal_norm_key((data ->> 'detectedStudentId')) IS NOT NULL;

CREATE INDEX IF NOT EXISTS idx_omr_portal_norm_detected
  ON public.omr_results (public.portal_norm_key((data ->> 'normalizedDetectedStudentId')))
  WHERE public.portal_norm_key((data ->> 'normalizedDetectedStudentId')) IS NOT NULL;

CREATE INDEX IF NOT EXISTS idx_students_portal_nationalid
  ON public.students (public.portal_norm_key((data ->> 'nationalId')))
  WHERE public.portal_norm_key((data ->> 'nationalId')) IS NOT NULL;

CREATE INDEX IF NOT EXISTS idx_students_portal_national_id_snake
  ON public.students (public.portal_norm_key((data ->> 'national_id')))
  WHERE public.portal_norm_key((data ->> 'national_id')) IS NOT NULL;

CREATE INDEX IF NOT EXISTS idx_students_portal_data_id
  ON public.students (public.portal_norm_key((data ->> 'id')))
  WHERE public.portal_norm_key((data ->> 'id')) IS NOT NULL;

CREATE INDEX IF NOT EXISTS idx_students_portal_data_studentid
  ON public.students (public.portal_norm_key((data ->> 'studentId')))
  WHERE public.portal_norm_key((data ->> 'studentId')) IS NOT NULL;

CREATE INDEX IF NOT EXISTS idx_students_portal_data_student_id_snake
  ON public.students (public.portal_norm_key((data ->> 'student_id')))
  WHERE public.portal_norm_key((data ->> 'student_id')) IS NOT NULL;

DROP FUNCTION IF EXISTS public.portal_fetch_omr_for_national(text);

CREATE OR REPLACE FUNCTION public.portal_fetch_omr_for_national(national_norm text)
RETURNS TABLE (id text, payload jsonb)
LANGUAGE plpgsql
STABLE
SECURITY DEFINER
SET search_path = public
AS $fn$
DECLARE
  p text;
  n bigint;
BEGIN
  p := public.portal_norm_key(national_norm);
  IF p IS NULL THEN
    RETURN;
  END IF;

  PERFORM set_config('statement_timeout', '120s', true);

  RETURN QUERY
  SELECT
    r.id,
    (r.data
      - 'reviewRois'
      - 'systemViewImage'
      - 'sheetPreview'
      - 'previewUrl'
      - 'details'
    ) AS payload
  FROM public.omr_results r
  WHERE public.portal_omr_row_visible(r.data)
    AND (
      public.portal_norm_key(r.data ->> 'nationalId') = p
      OR public.portal_norm_key(r.data ->> 'national_id') = p
    );

  GET DIAGNOSTICS n = ROW_COUNT;
  IF n > 0 THEN
    RETURN;
  END IF;

  RETURN QUERY
  WITH matched_students AS (
    SELECT s.data
    FROM public.students s
    WHERE public.portal_norm_key(s.data ->> 'nationalId') = p
       OR public.portal_norm_key(s.data ->> 'national_id') = p
       OR public.portal_norm_key(s.data ->> 'id') = p
       OR public.portal_norm_key(s.data ->> 'studentId') = p
       OR public.portal_norm_key(s.data ->> 'student_id') = p
  ),
  seat_norms AS (
    SELECT DISTINCT public.portal_norm_key(COALESCE(ms.data ->> 'seatNumber', ms.data ->> 'seat_number')) AS sn
    FROM matched_students ms
    WHERE length(trim(COALESCE(ms.data ->> 'seatNumber', ms.data ->> 'seat_number', ''))) > 0
  )
  SELECT
    r.id,
    (r.data
      - 'reviewRois'
      - 'systemViewImage'
      - 'sheetPreview'
      - 'previewUrl'
      - 'details'
    ) AS payload
  FROM public.omr_results r
  WHERE public.portal_omr_row_visible(r.data)
    AND (
      public.portal_norm_key(r.data ->> 'studentId') IN (SELECT sn FROM seat_norms WHERE sn IS NOT NULL)
      OR public.portal_norm_key(r.data ->> 'detectedStudentId') IN (SELECT sn FROM seat_norms WHERE sn IS NOT NULL)
      OR public.portal_norm_key(r.data ->> 'normalizedDetectedStudentId') IN (SELECT sn FROM seat_norms WHERE sn IS NOT NULL)
    );
END;
$fn$;

REVOKE ALL ON FUNCTION public.portal_fetch_omr_for_national(text) FROM PUBLIC;
GRANT EXECUTE ON FUNCTION public.portal_fetch_omr_for_national(text) TO anon, authenticated;
