-- Student portal: fast national-ID lookup on Postgres.
-- Safe: no DELETE, TRUNCATE, DROP TABLE, DROP DATABASE.
-- Run in Supabase: Dashboard -> SQL Editor -> paste -> Run.
--
-- After changing portal_norm_key, refresh generated columns:
--   UPDATE public.omr_results SET data = data;
--   UPDATE public.students SET data = data;

-- Aligns with JS normalizeNationalId (Arabic/Persian digits -> Latin, strip non-alnum, trim leading zeros).
CREATE OR REPLACE FUNCTION public.portal_norm_key(input text)
RETURNS text
LANGUAGE sql
IMMUTABLE
PARALLEL SAFE
AS $f$
  SELECT NULLIF(
    regexp_replace(
      regexp_replace(
        translate(
          trim(COALESCE(input, '')),
          '٠١٢٣٤٥٦٧٨٩۰۱۲۳۴۵۶۷۸۹',
          '01234567890123456789'
        ),
        '[^0-9A-Za-z]',
        '',
        'g'
      ),
      '^0+',
      ''
    ),
    ''
  );
$f$;

CREATE OR REPLACE FUNCTION public.portal_omr_row_visible(d jsonb)
RETURNS boolean
LANGUAGE sql
IMMUTABLE
PARALLEL SAFE
AS $v$
  SELECT
    lower(trim(COALESCE(d ->> 'approved', ''))) IN ('true', '1', 't', 'yes')
    OR lower(trim(COALESCE(d ->> 'confirmed', ''))) IN ('true', '1', 't', 'yes')
    OR (length(trim(COALESCE(d ->> 'approvedAt', ''))) > 0)
    OR (
      length(trim(COALESCE(d ->> 'studentId', ''))) > 0
      AND (COALESCE(d, '{}'::jsonb) ? 'score')
    );
$v$;

-- حمولة النتيجة للبوابة بدون حقول ثقيلة (تقليل حجم الاستجابة)
CREATE OR REPLACE FUNCTION public.portal_payload_strip(d jsonb)
RETURNS jsonb
LANGUAGE sql
IMMUTABLE
PARALLEL SAFE
AS $p$
  SELECT (COALESCE(d, '{}'::jsonb)
    - 'reviewRois'
    - 'systemViewImage'
    - 'sheetPreview'
    - 'previewUrl'
    - 'details');
$p$;

-- Expression indexes (legacy + planner hints for OR paths)
CREATE INDEX IF NOT EXISTS idx_omr_portal_nationalid
  ON public.omr_results (public.portal_norm_key((data ->> 'nationalId')))
  WHERE public.portal_norm_key((data ->> 'nationalId')) IS NOT NULL;

CREATE INDEX IF NOT EXISTS idx_omr_portal_national_id_snake
  ON public.omr_results (public.portal_norm_key((data ->> 'national_id')))
  WHERE public.portal_norm_key((data ->> 'national_id')) IS NOT NULL;

CREATE INDEX IF NOT EXISTS idx_omr_portal_studentid
  ON public.omr_results (public.portal_norm_key((data ->> 'studentId')))
  WHERE public.portal_norm_key((data ->> 'studentId')) IS NOT NULL;

CREATE INDEX IF NOT EXISTS idx_omr_portal_detected
  ON public.omr_results (public.portal_norm_key((data ->> 'detectedStudentId')))
  WHERE public.portal_norm_key((data ->> 'detectedStudentId')) IS NOT NULL;

CREATE INDEX IF NOT EXISTS idx_omr_portal_norm_detected
  ON public.omr_results (public.portal_norm_key((data ->> 'normalizedDetectedStudentId')))
  WHERE public.portal_norm_key((data ->> 'normalizedDetectedStudentId')) IS NOT NULL;

CREATE INDEX IF NOT EXISTS idx_students_portal_nationalid
  ON public.students (public.portal_norm_key((data ->> 'nationalId')))
  WHERE public.portal_norm_key((data ->> 'nationalId')) IS NOT NULL;

CREATE INDEX IF NOT EXISTS idx_students_portal_national_id_snake
  ON public.students (public.portal_norm_key((data ->> 'national_id')))
  WHERE public.portal_norm_key((data ->> 'national_id')) IS NOT NULL;

CREATE INDEX IF NOT EXISTS idx_students_portal_data_id
  ON public.students (public.portal_norm_key((data ->> 'id')))
  WHERE public.portal_norm_key((data ->> 'id')) IS NOT NULL;

CREATE INDEX IF NOT EXISTS idx_students_portal_data_studentid
  ON public.students (public.portal_norm_key((data ->> 'studentId')))
  WHERE public.portal_norm_key((data ->> 'studentId')) IS NOT NULL;

CREATE INDEX IF NOT EXISTS idx_students_portal_data_student_id_snake
  ON public.students (public.portal_norm_key((data ->> 'student_id')))
  WHERE public.portal_norm_key((data ->> 'student_id')) IS NOT NULL;

-- Generated STORED columns: btree equality (fast). Must match omr_results.id type (text here).
ALTER TABLE public.omr_results
  ADD COLUMN IF NOT EXISTS portal_national_norm text
  GENERATED ALWAYS AS (
    public.portal_norm_key(
      COALESCE(
        NULLIF(trim(data ->> 'nationalId'), ''),
        NULLIF(trim(data ->> 'national_id'), '')
      )
    )
  ) STORED;

CREATE INDEX IF NOT EXISTS idx_omr_portal_national_norm_col
  ON public.omr_results (portal_national_norm)
  WHERE portal_national_norm IS NOT NULL;

ALTER TABLE public.students
  ADD COLUMN IF NOT EXISTS portal_national_norm text
  GENERATED ALWAYS AS (
    public.portal_norm_key(
      COALESCE(
        NULLIF(trim(data ->> 'nationalId'), ''),
        NULLIF(trim(data ->> 'national_id'), '')
      )
    )
  ) STORED;

CREATE INDEX IF NOT EXISTS idx_students_portal_national_norm_col
  ON public.students (portal_national_norm)
  WHERE portal_national_norm IS NOT NULL;

ALTER TABLE public.students
  ADD COLUMN IF NOT EXISTS portal_seat_norm text
  GENERATED ALWAYS AS (
    public.portal_norm_key(
      COALESCE(
        NULLIF(trim(data ->> 'seatNumber'), ''),
        NULLIF(trim(data ->> 'seat_number'), '')
      )
    )
  ) STORED;

CREATE INDEX IF NOT EXISTS idx_students_portal_seat_norm_col
  ON public.students (portal_seat_norm)
  WHERE portal_seat_norm IS NOT NULL;

-- أعمدة مولَّدة للمطابقة بالجلوس (نفس تعبير الفهارس التعبيرية لكن مساواة مباشرة = خطط أسرع على الجداول الكبيرة)
ALTER TABLE public.omr_results
  ADD COLUMN IF NOT EXISTS portal_student_id_norm text
  GENERATED ALWAYS AS (public.portal_norm_key((data ->> 'studentId'))) STORED;

ALTER TABLE public.omr_results
  ADD COLUMN IF NOT EXISTS portal_detected_id_norm text
  GENERATED ALWAYS AS (public.portal_norm_key((data ->> 'detectedStudentId'))) STORED;

ALTER TABLE public.omr_results
  ADD COLUMN IF NOT EXISTS portal_norm_detected_id_norm text
  GENERATED ALWAYS AS (public.portal_norm_key((data ->> 'normalizedDetectedStudentId'))) STORED;

CREATE INDEX IF NOT EXISTS idx_omr_portal_student_id_norm_col
  ON public.omr_results (portal_student_id_norm)
  WHERE portal_student_id_norm IS NOT NULL;

CREATE INDEX IF NOT EXISTS idx_omr_portal_detected_id_norm_col
  ON public.omr_results (portal_detected_id_norm)
  WHERE portal_detected_id_norm IS NOT NULL;

CREATE INDEX IF NOT EXISTS idx_omr_portal_norm_detected_id_norm_col
  ON public.omr_results (portal_norm_detected_id_norm)
  WHERE portal_norm_detected_id_norm IS NOT NULL;

DROP FUNCTION IF EXISTS public.portal_fetch_omr_for_national(text);

CREATE OR REPLACE FUNCTION public.portal_fetch_omr_for_national(national_norm text)
RETURNS TABLE (id text, payload jsonb)
LANGUAGE plpgsql
STABLE
SECURITY DEFINER
SET search_path = public
AS $fn$
DECLARE
  p text;
  n bigint;
BEGIN
  p := public.portal_norm_key(national_norm);
  IF p IS NULL THEN
    RETURN;
  END IF;

  -- 0 = تعطيل مهلة الاستعلام لهذه المعاملة فقط (قد يغلب حداً أقل من طبقة الـ pool؛ الأعمدة المولَّدة هي الإصلاح الأساسي).
  PERFORM set_config('statement_timeout', '0', true);

  -- Phase 1: indexed column on omr_results (no json scan).
  -- COALESCE(data): صفوف data = NULL كانت تسبب فشل عامل jsonb "-" وإرجاع 500 من PostgREST.
  -- Cast id to text so RETURN TABLE matches whether omr_results.id is uuid, bigint, or text.
  RETURN QUERY
  SELECT
    r.id::text,
    public.portal_payload_strip(r.data) AS payload
  FROM public.omr_results r
  WHERE public.portal_omr_row_visible(COALESCE(r.data, '{}'::jsonb))
    AND r.portal_national_norm = p
  LIMIT 500;

  GET DIAGNOSTICS n = ROW_COUNT;
  IF n > 0 THEN
    RETURN;
  END IF;

  -- Phase 2: مقاعد الطالب عبر UNION (فهرس لكل فرع) ثم مطابقة omr بالأعمدة المولَّدة — بدون إعادة حساب portal_norm_key على كل صف.
  RETURN QUERY
  WITH seat_norms AS (
    SELECT s.portal_seat_norm AS sn
    FROM public.students s
    WHERE s.portal_seat_norm IS NOT NULL
      AND s.portal_national_norm = p
    UNION
    SELECT s.portal_seat_norm AS sn
    FROM public.students s
    WHERE s.portal_seat_norm IS NOT NULL
      AND public.portal_norm_key(COALESCE(s.data ->> 'id', '')) = p
    UNION
    SELECT s.portal_seat_norm AS sn
    FROM public.students s
    WHERE s.portal_seat_norm IS NOT NULL
      AND public.portal_norm_key(COALESCE(s.data ->> 'studentId', '')) = p
    UNION
    SELECT s.portal_seat_norm AS sn
    FROM public.students s
    WHERE s.portal_seat_norm IS NOT NULL
      AND public.portal_norm_key(COALESCE(s.data ->> 'student_id', '')) = p
  ),
  seats AS (
    SELECT DISTINCT sn FROM seat_norms WHERE sn IS NOT NULL
  )
  SELECT x.id, x.payload FROM (
    SELECT
      r.id::text AS id,
      public.portal_payload_strip(r.data) AS payload
    FROM public.omr_results r
    INNER JOIN seats sn ON r.portal_student_id_norm = sn.sn
    WHERE public.portal_omr_row_visible(COALESCE(r.data, '{}'::jsonb))
    UNION
    SELECT
      r.id::text,
      public.portal_payload_strip(r.data)
    FROM public.omr_results r
    INNER JOIN seats sn ON r.portal_detected_id_norm = sn.sn
    WHERE public.portal_omr_row_visible(COALESCE(r.data, '{}'::jsonb))
    UNION
    SELECT
      r.id::text,
      public.portal_payload_strip(r.data)
    FROM public.omr_results r
    INNER JOIN seats sn ON r.portal_norm_detected_id_norm = sn.sn
    WHERE public.portal_omr_row_visible(COALESCE(r.data, '{}'::jsonb))
  ) x
  LIMIT 500;
END;
$fn$;

REVOKE ALL ON FUNCTION public.portal_fetch_omr_for_national(text) FROM PUBLIC;
GRANT EXECUTE ON FUNCTION public.portal_fetch_omr_for_national(text) TO anon, authenticated;

-- Refresh generated keys after portal_norm_key definition changes (safe no-op on data payload).
UPDATE public.omr_results SET data = data WHERE true;
UPDATE public.students SET data = data WHERE true;
