-- =============================================================================
-- Read-only audit: public tables, columns, RLS, policies, portal RPCs, storage
-- Run in Supabase: SQL Editor -> paste section -> Run
-- Data model in this app: usually table(id, data jsonb) for omr_results, students,
-- omr_exams, settings; portal uses RPC portal_fetch_omr_for_national after portal.sql
-- =============================================================================

-- 1) All tables in schema public
SELECT table_schema, table_name, table_type
FROM information_schema.tables
WHERE table_schema = 'public'
ORDER BY table_name;

-- 2) Columns for core tables (how rows are stored)
SELECT table_name, ordinal_position, column_name, data_type, udt_name,
       is_nullable, column_default
FROM information_schema.columns
WHERE table_schema = 'public'
  AND table_name IN (
    'omr_results', 'students', 'omr_exams', 'settings', 'retake_requests'
  )
ORDER BY table_name, ordinal_position;

-- 3) Row Level Security enabled per table
SELECT n.nspname AS schema_name,
       c.relname AS table_name,
       c.relrowsecurity AS rls_enabled,
       c.relforcerowsecurity AS force_rls
FROM pg_class c
JOIN pg_namespace n ON n.oid = c.relnamespace
WHERE n.nspname = 'public'
  AND c.relkind = 'r'
ORDER BY c.relname;

-- 4) RLS policies (who can SELECT/INSERT/UPDATE/DELETE)
SELECT schemaname, tablename, policyname, permissive, roles, cmd,
       qual AS using_expression,
       with_check AS with_check_expression
FROM pg_policies
WHERE schemaname = 'public'
ORDER BY tablename, policyname;

-- 5) Table grants for anon / authenticated / service_role / PUBLIC
SELECT table_schema, table_name, privilege_type, grantee
FROM information_schema.role_table_grants
WHERE table_schema = 'public'
  AND grantee IN ('anon', 'authenticated', 'service_role', 'PUBLIC')
ORDER BY table_name, grantee, privilege_type;

-- 6) Portal helper functions (anon needs EXECUTE on portal_fetch_omr_for_national)
SELECT p.proname AS function_name,
       pg_get_function_identity_arguments(p.oid) AS arguments,
       p.prosecdef AS security_definer
FROM pg_proc p
JOIN pg_namespace n ON p.pronamespace = n.oid
WHERE n.nspname = 'public'
  AND p.proname LIKE 'portal\_%' ESCAPE '\'
ORDER BY p.proname;

-- 7) omr_results column types (id type must match RETURNS TABLE in portal_fetch_*)
SELECT a.attname AS column_name,
       format_type(a.atttypid, a.atttypmod) AS postgres_type
FROM pg_attribute a
JOIN pg_class c ON a.attrelid = c.oid
JOIN pg_namespace n ON c.relnamespace = n.oid
WHERE n.nspname = 'public'
  AND c.relname = 'omr_results'
  AND a.attnum > 0
  AND NOT a.attisdropped
ORDER BY a.attnum;

-- 8) Sample top-level JSON keys in omr_results.data (first row only; skip if empty)
SELECT id, jsonb_object_keys(COALESCE(data, '{}'::jsonb)) AS top_level_key
FROM public.omr_results
LIMIT 1;

-- 9) EXECUTE grants on portal RPC (anon should appear after migrations/portal.sql)
SELECT routine_schema, routine_name, grantee, privilege_type
FROM information_schema.routine_privileges
WHERE routine_schema = 'public'
  AND routine_name LIKE 'portal\_%' ESCAPE '\'
ORDER BY routine_name, grantee;
